body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}
.profile-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
  }
  
  form {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  input[type="text"], input[type="email"], textarea {
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
  }
  
  input[type="submit"] {
	width: 50%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
  }

.favorite {
	display: block;
	width: 100%;
	background-color: yellow;
	padding: 14px 28px;
}